html, body {
  height: 100%;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #faff9798;
  color: #000000;
  overflow:hidden;
  text-align: center;
}

.container h1 {
  font-family:cursive;
  font-size: 30px;
  color: brown;
  margin-top: 80px;
}

.container form {
  margin: 50px;
}

.container input {
  width: 350px;
  height: 15px;
  font-size: 15px;
  margin: 4px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.container button {
  width: 70px;
  height: 30px;
  background-color: forestgreen;
  border-color:azure;
  margin: 4px;
}

.container p{
  margin: 150px;
  font-family: fantasy;
  font-size: 35px;
}

.container table{
  margin: 5px;
}